####for 변수 in 시퀀스 자료형 :
    들여쓰기
    
- 시퀀스자료형 : 집합형태로 만들어진 자료형(리스트가 대표적임)

In [1]:
[1, 2, 3]

[1, 2, 3]

In [2]:
#[1, 2, 3, 4, 5, 6, 7]

for a in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] :
    print(a)

1
2
3
4
5
6
7
8
9
10

In [3]:
for a in range(1, 101, 1) :
    print(a, end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

#### 내장함수 range()
- range(start, end, step)
- end 미만

In [9]:
list1 = list( range(0, 10, 3))
list1

list2 = list( range(0, 10, 2))
list2

# 매개값이 두 개인 경우(start, end)
list3 = list( range(0, 10) )
list3

# 매개값이 한 개인 경우(end)
# start=0, step=1로 처리
list4 = list( range(10) )
list4

# 7~100까지 정수 중에서 7의 배수의 합
list5 = list( range(7, 100, 1) )

sum = 0
for a in list5 :
    if a % 7 == 0 :
        sum += a

print('7의 배수의 합 : ', sum)

7의 배수의 합 :  735

#### 반복문의 중첩

In [36]:
for i in range(2, 10) : # 2~9
    print(f'구구단{i}단')
    
    for j in range(1, 10) : # 1~9
        print(f'{i} X {j} = {i * j}')
        
    print('-' * 50)

구구단2단
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
--------------------------------------------------
구구단3단
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
--------------------------------------------------
구구단4단
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
--------------------------------------------------
구구단5단
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
--------------------------------------------------
구구단6단
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
--------------------------------------------------
구구단7단
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
--------------------------------------------------
구구단8단
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
--------------------------------------------------
구구단9단
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
--------------------------------------------------

#### 실습

In [33]:
#1. 1~200까지 짝수만 출력

for a in range( 0, 201) :
    if a % 2 == 0 :
        print(a, end=' ')


#2. 1~2345까지 13의 배수의 갯수

count = 0


for b in range(1, 2345) :
    if b % 13 == 0 :
        count += 1
print('\n\n1~2345까지 13의 배수의 갯수 > ', count)


#3. 1~300까지의 정수 중에 6의 배수이고 12의 배수가 아닌 수의 합

sum = 0 
for c in range(1, 301) :
    if c % 6 == 0 and c % 12 != 0:
        sum += c
print('\n1~300까지의 정수 중에 6의 배수이고 12의 배수가 아닌 수의 합 > ', sum)

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198 200

1~2345까지 13의 배수의 갯수 >  180

1~300까지의 정수 중에 6의 배수이고 12의 배수가 아닌 수의 합 >  3750